<div fxLayout="row" fxLayoutAlign="center center" class="login min-h-full" fxLayoutGap="16px">
    <form [formGroup]="formGroup">
        <mat-card fxFlex fxLayout="column">
            <div fxLayout="row" fxLayoutAlign="center center" class="logo">
                <img src="assets/images/logo-nova.svg" height="46px" alt="">
            </div>

            <div fxLayout="column" [style.margin.em]="1">
                <div fxLayout="column" fxLayoutAlign="space-evenly stretch" fxLayoutGap="16px" class="margin-buttons">
                    <mat-form-field>
                        <mat-label>{{ 'user' | translate }}</mat-label>
                        <input matInput type="text" maxlength="64" formControlName="username" required autoFocus>
                        <mat-error validator></mat-error>
                    </mat-form-field>
                    <div>{{ 'info-sending-email' | translate }}</div>
                </div>

                <div fxLayout="row" fxLayoutAlign="space-evenly stretch" fxLayoutGap="16px">
                    <button mat-stroked-button id="cancel" type="button" [routerLink]="['/login']">
                        {{ "cancel" | translate }}
                    </button>
                    <button mat-stroked-button id="save" type="submit" [disabled]="!formGroup.valid" (click)="sendEmail()">
                        {{ message| translate }}
                    </button>
                </div>
            </div>
        </mat-card>
    </form>
</div>
