<div fxLayout="column" fxLayoutAlign="space-around stretch" fxLayoutGap="16px">

    <mat-card class="mat-table">
        <mat-table #table [dataSource]="dataSource">
            <ng-container matColumnDef="id">
                <mat-header-cell *matHeaderCellDef> {{'#' | translate}}</mat-header-cell>
                <mat-cell *matCellDef="let element" [attr.data-header]="'#' | translate"> {{element.id}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="description">
                <mat-header-cell *matHeaderCellDef> {{'description' | translate}}</mat-header-cell>
                <mat-cell *matCellDef="let element" [attr.data-header]="'description' | translate">
                    {{element.description | translate}}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="active">
                <mat-header-cell *matHeaderCellDef> {{'active' | translate}}</mat-header-cell>
                <mat-cell *matCellDef="let element" [attr.data-header]="'active' | translate">
                    <mat-slide-toggle (change)="toggle(element, 'is_active')" [(ngModel)]="element.is_active">

                    </mat-slide-toggle>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="action">
                <mat-header-cell *matHeaderCellDef></mat-header-cell>
                <mat-cell *matCellDef="let element" fxLayout="row" fxLayoutAlign="end center">
                    <button mat-icon-button [matMenuTriggerFor]="menu">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item id="show" (click)="goToPage('/account/module/' + element.id)">
                            <mat-icon>visibility</mat-icon>
                            <span>{{'show' | translate}}</span>
                        </button>
                    </mat-menu>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"
                     (dblclick)="goToPage('/account/module/' + row.id)"></mat-row>
        </mat-table>

        <div class="no-records-row" *ngIf="pageLength === 0">
            {{'no-records-found' | translate}}
        </div>

        <mat-paginator [length]="pageLength"></mat-paginator>
    </mat-card>

</div>
