mat-card {
    margin: 10px;
    padding: 0;

    mat-card-header {
        background-color: #8290A4;
        color: #FFFFFF;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        padding: 0;

        mat-card-title, mat-checkbox {
            padding: 16px;
        }
    }

    mat-card-content {
        padding: 0;

        mat-list {
            padding: 0;

            mat-list-item {
                border-bottom: 1px solid #CFD8DC;
                color: #444F5C !important;

                .txt-color {
                    color: #444F5C !important;
                }

                &.selected {
                    background-color: #e4e6e6;
                }
            }
        }
    }
}


