<mat-toolbar class="mat-dialog-header" fxLayoutAlign="space-between center">
    <span>{{'user' | translate}}</span>
    <button mat-icon-button id="close" [mat-dialog-close]="false" tabindex="-1">
        <mat-icon>close</mat-icon>
    </button>
</mat-toolbar>

<mat-dialog-content>
    <form [formGroup]="formGroup">
        <div fxLayout="column" fxLayoutAlign="space-evenly stretch" fxLayoutGap="16px">
            <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="16px">
                <mat-form-field class="w-full">
                    <mat-label>{{'old-password' | translate}}</mat-label>
                    <input matInput type="password" maxlength="104" formControlName="password" required autoFocus>
                    <mat-error validator></mat-error>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="16px">
                <mat-form-field class="w-full">
                    <mat-label>{{'new-password' | translate}}</mat-label>
                    <input matInput #input type="password" minlength="4" maxlength="64" formControlName="new_password" required>
                    <mat-hint align="end">{{input.value?.length || 0}}/104</mat-hint>
                    <mat-error validator></mat-error>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="16px">
                <mat-form-field class="w-full">
                    <mat-label>{{'password-confirmation' | translate}}</mat-label>
                    <input matInput type="password" maxlength="104" formControlName="password_confirmation" required>
                    <mat-error validator></mat-error>
                </mat-form-field>
            </div>
        </div>
    </form>
</mat-dialog-content>

<mat-dialog-actions fxLayout="row" fxLayoutAlign="center center">
    <button mat-stroked-button id="cancel" type="button" (click)="cancel()">
        {{"cancel" | translate}}
    </button>
    <button mat-raised-button color="accent" type="submit" [disabled]="!formGroup.valid" (click)="confirm()">
        {{"save" | translate}}
        <mat-icon>save</mat-icon>
    </button>
</mat-dialog-actions>

